body {
  background-color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.clock {
  width: 20rem;
  height: 20rem;
  /* border: 1px solid white; */
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  transform: rotate(-7.5deg);
}

.clock::before {
  content: "";
  width: 22rem;
  height: 22rem;
  position: absolute;
  border: 2px solid white;
  top: -1.1rem;
  left: -1.1rem;
  border-radius: 50%;
}

.clock span {
  position: absolute;
  font-size: 2rem;
  height: 50%;
}

.clock span:nth-child(2) {
  transform-origin: bottom;
  transform: rotate(30deg);
  background-color: blue;
}

.clock span:nth-child(3) {
  transform-origin: bottom;
  transform: rotate(60deg);
  background-color: blue;
}

.clock span:nth-child(4) {
  transform-origin: bottom;
  transform: rotate(90deg);
  background-color: blue;
}

.clock span:nth-child(5) {
  transform-origin: bottom;
  transform: rotate(120deg);
  background-color: blue;
}
.clock span:nth-child(2) {
  transform-origin: bottom;
  transform: rotate(30deg);
  background-color: blue;
}
.clock span:nth-child(6) {
  transform-origin: bottom;
  transform: rotate(150deg);
  background-color: blue;
}
span:nth-child(7) {
  transform-origin: bottom;
  transform: rotate(180deg);
  background-color: blue;
}
.clock span:nth-child(8) {
  transform-origin: bottom;
  transform: rotate(210deg);
  background-color: blue;
}
.clock span:nth-child(9) {
  transform-origin: bottom;
  transform: rotate(240deg);
  background-color: blue;
}
.clock span:nth-child(10) {
  transform-origin: bottom;
  transform: rotate(270deg);
  background-color: blue;
}

.clock span:nth-child(11) {
  transform-origin: bottom;
  transform: rotate(300deg);
  background-color: blue;
}
.clock span:nth-child(12) {
  transform-origin: bottom;
  transform: rotate(330deg);
  background-color: blue;
}

.clock span span {
  width: auto;
  height: auto;
}

.clock span:nth-child(1) span {
  transform: rotate(7deg);
  color: red;
}

.clock span:nth-child(2) span {
  transform: rotate(-22deg);
  color: red;
}

.clock span:nth-child(3) span {
  transform: rotate(-54deg);
  color: red;
}
.clock span:nth-child(4) span {
  transform: rotate(-83deg);
  color: red;
}
.clock span:nth-child(5) span {
  transform: rotate(-113deg);
  color: red;
}
.clock span:nth-child(6) span {
  transform: rotate(-144deg);
  color: red;
}
.clock span:nth-child(7) span {
  transform: rotate(-174deg);
  color: red;
}
.clock span:nth-child(8) span {
  transform: rotate(-203deg);
  color: red;
}
.clock span:nth-child(9) span {
  transform: rotate(-233deg);
  color: red;
}
.clock span:nth-child(10) span {
  transform: rotate(99deg);
  color: red;
}
.clock span:nth-child(11) span {
  transform: rotate(70deg);
  color: red;
}
.clock span:nth-child(12) span {
  transform: rotate(38deg);
  color: red;
}

.center {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #6b6b77;
  z-index: 5;
}

/* now we are making niddles */

#hour,
#minut,
#second {
  position: absolute;
  width: 17px;
  height: 26%;
  transform: rotate(6deg);
  transform-origin: bottom;
  margin-top: 4.9rem;
  background-color: blue;
  border-radius: 50px 50px 0 0;
}

#minut {
  width: 10px;
  height: 30%;
  margin-top: 4rem;
  background-color: chartreuse;
}

#second {
  width: 5px;
  height: 35%;
  margin-top: 3rem;
  background-color: chocolate;
}
